@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

.text-title {
    font-size: 4rem;
    font-family: 'Exo', sans-serif;
    background: #121FCF;
background: -webkit-linear-gradient(to right, #121FCF 0%, #FF26F1 33%, #CFC90E 66%);
background: -moz-linear-gradient(to right, #121FCF 0%, #FF26F1 33%, #CFC90E 66%);
background: linear-gradient(to right, #121FCF 0%, #FF26F1 33%, #CFC90E 66%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.text-paragraph {
    color: white;
}

.border-howtouse {
    border-style: solid;
    border-color: purple;
    width: 300px;
    height: 200px;

}